<div class="photoContainer">
  <%= image_tag @photo[:file_name] %>
  <h2>Append a comment to this fabulous photo</h2>
  <%= form_with(model: @comment, url: comments_create_path ) do |form| %>
    <% if @comment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this
          product from being saved:</h2>
        <ul id="error-list">
          <% @comment.errors.each do |error| %>
            <li id="error-item"><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :comment %>
      <%= form.text_area :comment, rows:4, cols: 60 %>
    </div>
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>